#terms-input-container {
    margin-top: 0 !important;
}

#terms-input-container > * {
    padding: .5rem;
    margin-top: 1rem;
}

#terms-input-container > .term > label:not(:first-child) {
    margin-top: .5rem
}